	body { 
		font: 80% "Trebuchet MS", sans-serif; 
		margin: 50px;
		background-color: #E04848;
		background-image:url(../pictures/pic.jpg); /*edited*/
		background-attachment:fixed;
		background-position: center;
		background-repeat: repeat;
	}

	#minlogo_td {
		padding: 0 0 15px 0;
		width: 200px;
	}
	
	#logo {
		margin-right: auto;
		margin-left: auto;
		display: block;
		margin-bottom: 5px;
	}
	
	.textbox {
		font: Arial, Sans-serif;
		margin-bottom: 5px;
		display: block;
		padding: solid;
		border:solid 1px;
		width: 150px;
	}  
			 
	img.r50 {
		border:0,
		margin:0 10px;
		width:100px;
		height:150px;
	}
	
	img.r51 {
		border:0,
		margin:0 10px;
		width:152px; /*edited*/
		height:145px; /*edited*/
	}
	
	.table_teacherinfo {
		width: 800px;
		border-collapse: collapse; 
		margin: 0 auto;
		border: 0px solid yellow;
	}
		   
	.div_login {

		    margin: 0 auto;
		    padding: 4em 10px 10px;
		    width: 325px;
	}
	
	.table_header {
		width: 100%;
		border-collapse: collapse;
		table-layout: fixed;
	}

	.table_header td {
		border: 0px solid black;
	}

	#login_form
	{
	    font-family: segoe ui, Arial, sans-serif;
	    font-size: 13px;
	    background-color: #1f1c1c;
	    color: #fff;
	    padding: 20px 0 20px 40px;
	    width:250px;
	    margin: 0 auto;
		-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
		-moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
		box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
		border-radius: 10px;
		-moz-border-radius: 10px; 
	}

	#login_form input[type=text], #login_form input[type=password]
	{
	    font-family: segoe ui, Arial, sans-serif;
	    font-size: 13px;
	    margin: 5px 0 15px 0;
	    display: block;
	    padding: 4px;
	    width: 200px;
		border-radius: 3px;
		-moz-border-radius: 3px; 
	}
	
	.table_classlists {
		border: 1px solid #9f9d97;	
		border-collapse: collapse;
		width: 900px;
		text-align: center;
		table-layout: fixed;
		margin: 0 auto;
		-webkit-box-shadow: 0px 0px 7px rgba(0,0,0,0.6);
		-moz-box-shadow: 0px 0px 7px rgba(0,0,0,0.6);
		box-shadow: 0px 0px 7px rgba(0,0,0,0.6);
		border-radius: 10px;
		-moz-border-radius: 10px; 
		
	}
	
	.table_classlists th{
		background-color: #bcbcbc;
		text-align:center;
		font: segoe ui, Arial, sans-serif; 
		font-size: 15px;
		font-weight: bold;
		color: #000;
		border: 1px solid #9f9d97;
		border-collapse: collapse;
		padding: 10px 0px 10px;
	}
			
	.table_classlists td{
		border: 1px solid #9f9d97;
		border-collapse: collapse;
		padding: 10px 0px 10px;
		background-color: #f5f3e5;
		text-align: center;
		white-space: pre-wrap; /* css-3 */
		white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
		white-space: -pre-wrap; /* Opera 4-6 */
		white-space: -o-pre-wrap; /* Opera 7 */
		word-wrap: break-word; /* Internet Explorer 5.5+ */

	}

	#td_code, #td_action, #td_units, #td_type, #td_day {
		width: 60px;
	}

	#td_section {
		width: 70px;
	}

	#td_room {
		width: 100px;
	}

	#td_time {
		width: 80px;
	}
	
	#td_desc {
		width: 350px;
	}
		
	.div_teacherinfo{
		background-color: #F0F0F0;
		height: 250px;
		width: 66.789em;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		position: relative;
		/*border: 0px solid green;*/
		margin: 0 auto 20px;
		padding: 35px 0 0 0;
		-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
		-moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
		box-shadow: 0px 0px 10px rgba(0,0,0,0.6);	
	}

	.help_content {
		margin: 0 25px 10px 25px;
		padding: 0 0 30px 0;
		background-color: #fff;
	}

	.help_content p, h2, dl {
		margin: 0  50px;
		line-height: 1.35;
	}
	
	
	h2 {
		padding: 30px 0;
		color: #cc1100;	
		font-size: 20px;
	}

	.example {
		font-style: italic;
		padding: 0 0 10px 0;
	}

	dd {
		padding: 0 0 5px 0;
	}

	dt {
		font-weight: bold;
	}
	
	code {
		font-style: normal;
		font-size: 12px;
		background-color: #C6E2FF;
		padding: 1px 5px;
	}
	
	.div_parentcontent {
		margin: -4em auto 0;
		border: 0px solid blue;
		width: 930px;
		overflow: hidden;
	}
	
	.header_text, #home, #subjcode, #subname, #type, #sec_code, #subj_time {
		font: segoe ui, Arial, sans-serif; 
		font-size: 13px;
		color:  #f0b7b2;
		font-weight: bold;
	}

	#subjcode, #subname, #type, #sec_code, #subj_time {
		background-color: #BA0404;
		font-style: italic;
		text-align: center;
		padding: 5px 0;
	}

	#subjcode {
		border-radius: 0 0 6px 6px;
		-webkit-border-radius: 0 0 6px 6px;
		-moz-border-radius: 0 0 6px 6px;
	}

	#subj_time {
		border-radius: 0 0 6px 0;
		-webkit-border-radius: 0 0 6px 0;
		-moz-border-radius: 0 0 6px 0;
	}

	#subjcode p {
		word-spacing: 30px;
	}
	
	#subname, #sec_code, #type {
		border-radius: 0;
	}

	#home {
		border-radius: 6px 6px 0 0;
		-moz-border-radius: 6px 6px 0 0; /*edited*/
		background-color: #780000;
		border: 0px solid white;

	}

	#home2 {
		border-radius: 6px;
		-moz-border-radius: 6px; /*edited*/
		background-color: #780000;
	}

	#home a:link, #home a:visited, .header_text a:link, .header_text a:visited, #home2 a:link, #home2 a:visited {
		color: #f0b7b2;
		text-decoration: none;
	}

	#home a:hover, .header_text a:hover, #home2 a:hover {
		color: #fff;
		text-decoration: underline;
	}

	#home p, #subjcode p, #home2 p {
		padding: 10px 0 10px 20px;
		/*border: 1px solid white;*/
	}
			
	.div_accountinfo{
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-topright: 5px;
		-moz-border-radius-bottomright: 0px;
		-moz-border-radius-bottomleft 0px;
		/*border: 1px solid #303030;*/
		border: 0px solid orange;
		background-color: #1f1c1c;
		padding: 20px;
		font: segoe ui, Arial, sans-serif;
		font-size: 1.2em;
		font-weight: bold;
		color: #fff;
		width: 53.01em;
		margin: 20px auto 0;
		-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
		-moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.6);
		box-shadow: 0px 0px 10px rgba(0,0,0,0.6);		
		
	}
	
	.div_error{
		width: 325px;
		height: 50px;
		background-color: #FADDA7;
		border: 1px solid #E86500;
		line-height: 25px;
		text-align: center;
		border-radius: 10px;
		-moz-border-radius: 10px;
	}

	.instructions_dialog {
		padding: 15px;
		border: 0px solid black;
		position: absolute;
		right: 90px;
		top: 120px;
		font-style: italic;
		 padding: 5px 10px;
		   margin: 10px;
		   background: #E77574;
		   color: #fff;
		   font-weight: bold;
		   line-height: 1.8em;
		   border: 1px dashed #fff;
		   border-radius: 3px;
		   -moz-border-radius: 3px;
		   -webkit-border-radius: 3px;
		   text-shadow: -1px -1px #aa3030;
	 	  -moz-box-shadow: 0 0 0 4px #E77574, 2px 1px 4px 4px rgba(8,6,0,.5);
		  -webkit-box-shadow: 0 0 0 4px #E77574, 2px 1px 4px 4px rgba(8,6,0,.5);
		   box-shadow: 0 0 0 4px #E77574, 2px 1px 6px 4px rgba(8,6,0,.5);
	
	}
	
	.form {
		color: #000;
		font: segoe ui, Arial, sans-serif;
		font-size: 1em;
	}
	
	.div_error p{
		color: #FF0000;
		font: segoe ui, Arial, sans-serif;
	}
	
	.td_teacherinfo{
		height: 50px;
		padding: 5px 0px 5px 10px;
		/*border: 1px solid #dfd9c3;*/
		background-color: #F0F70F0;
		margin: 30px 0 0 0;
		border: 1px solid #dfd9c3;
		font-style: italic;
		font-family: segoe ui, Arial, sans-serif;
		color: #8A897B;
	}  

	.td_teacherinfo:hover {
		color: #000;
	}      
		   
	#view_button, .submit_button, #back_button {
		border-radius: 5px;
		border: 1px solid #450205;
		position: relative;
		background-color: #cc1100;
		font: segoe ui, Arial, sans-serif;
		font-size: 1em;
		font-weight: bold;
		height: 25px;
		color:#FFFFFF;
	}
	
	#back_button {
		margin: 3px 0 0 3px;
	}

	#classList input[type="button"] {
	    	margin: 0 0 0 4px;
	    
	}

	
	.submit_button:hover, #view_button:hover, #back_button:hover {
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border: 1px solid #450205;
		background-color: #ec4132;
		font: segoe ui, Arial, sans-serif;
		font-size: 1em;
		font-weight: bold;
		height: 25px;
		color:#FFFFFF;
	}

	label {
		
	}
		   
	#td_teacherlabel{
		background-color: #DAEAF0;		
		width: 155px;		
		height: 50px;
		padding: 5px 0px 5px 10px;
		border: 1px solid #dfd9c3;
		color: #000;
	}
	
	.picturecell {
		width: 160px;
		height:200px;
		padding: 0 20px 0 0;
	}

	#footer {
		text-align: right;
		font: segoe ui, Arial, sans-serif;
		font-size: 1em;
		color: #262626;
	}
	
	label { 
		display:block;
	}
	
	fieldset { 
		padding:0;
		border:0; 
		margin-top:25px; 
	}
			   
	div#dvattendance { 
		width: 350px; 
		margin: 20px 0; 
	}
		  
	div#dvattendance p, td, th {
		font: 0.9em Arial, Helvetica, sans-serif; 
		white-space:nowrap;
	} 
	
	div#dvattendance table { 
		margin: 1em 0; 
		border-collapse: collapse; 
		width: 100%;
	}
		   
	div#dvattendance table td, div#dvattendance table th { 
		border: 1px solid #D6DDE6; 
		padding: .6em 10px; 
		text-align: left;
	}
		   
	div#dvattendance table tr:hover {
		background-color: #96DAFF;
		color: #000000;}
	
	div#dvattendance table  th {
		border: 1px solid #828282;
		background-color: #BCBCBC;
		font-weight: bold;
		text-align: left;
		padding-left: 4px;
	}
	
	.users {
		background-color: #BCBCBC;
		font-weight: bold;
		text-align: left;
		padding-left: 4px;
	}
	
	.users_contain, .users_contain td {
		border: 1px solid black;
	}
			 
	div#dvattendance caption {
		font: bold 0.9em Arial, Helvetica, sans-serif;
		color: #33517A;
		text-align: left;
		padding-top: 3px;
		padding-bottom: 8px;
	}
			 
	.ui-dialog .ui-state-error { 
		padding: .3em; 
	}
	
	.validateTips { 
		border: 1px solid transparent; 
		padding: 0.3em; 
	}
		 
	div#dvscale { 
		width: 350px;
		margin: 20px 0; 
		margin-right:50cm;	
	}
		   
	div#dvscale p, td, th {
		font: 0.9em Arial, Helvetica, sans-serif; 
		white-space:nowrap;
	} 
		   
	div#dvscale table {
		margin: 1em 0; border-collapse: collapse; 
		width: 100%; 
	}
		   
	div#dvscale table td, div#dvscale table th { 
		border: 1px solid #D6DDE6; 
		padding: .6em 10px; 
		text-align: left;
	}
	
	div#dvscale table tr:hover {
		background-color: #96DAFF;
		color: #000000;
	}
		   
	div#dvscale table  th {
		border: 1px solid #828282;
		background-color: #BCBCBC;
		font-weight: bold;
		text-align: left;
		padding-left: 4px;
	}  
			 
	div#dvscale caption {
		font: bold 0.9em Arial, Helvetica, sans-serif;
		color: #33517A;
		text-align: left;
		padding-top: 3px;
		padding-bottom: 8px;
	}
	
	label, input { 
		display:block; 
	}
		
	input.text { 
		margin-bottom:12px; 
		width:95%; 
		padding: .4em; 
	}
	
	fieldset { 
		padding:0; 
		border:0; 
		margin-top:25px; 
	}
	
	h1 { 
		font-size: 1.2em; 
		margin: .6em 0; 
	}
		
	div#users-contain { 
		width: 350px; 
		margin: 20px 0; 
	}
	
	div#users-contain table { 
		margin: 1em 0; 
		border-collapse: collapse; 
		width: 100%; 
	}
		
	div#users-contain table td, div#users-contain table th { 
		border: 1px solid #cfcfcf; 
		padding: .6em 10px; 
		text-align: left; 
	}
		
	.ui-dialog .ui-state-error { 
		padding: .3em; 
	}
		
	.validateTips { 
		border: 1px solid transparent; 
		padding: 0.3em; 
	}
	
	.toggler { 
		width: 500px; 
		height: 300px; 
	}

	#button { 
		padding: .5em 1em; 
		text-decoration: none; 
	}
	
	#effect { 
		width: 240px; 
		height: 135px; 

		padding: 0.4em; 
		position: relative; 
	}
	
	#effect h3 { 
		margin: 0; 
		padding: 0.4em; 
		text-align: center; 
	}
	
	
		
			
